<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
        <link href="{{ url_for('static', filename='js/jquery-ui.theme.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>

     <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
     <!-- <script src="{{ url_for('static', filename='js/vendor/jquery.validate.js') }}"></script> -->
     <script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='render.js') }}"></script>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
           data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Twitter Plot</a>
        </div>

      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--<div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
  </div> -->

  <div class="container">
      <div class="row">
          <div class="col-md-3">
  <form class="form" id=plot-data>
      <dl>
          <dt>Chart Format
          <dd><select id="graphselect">
              <option value="bar_plot" name="bar_plot">Bar Graph</option>
              <option value="pie_plot" name="bar_plot">Pie Chart</option>
              <option value="time_lineplot" name="time_lineplot">Time Plot
                  </option>
              <option value="time_truncate" name="interval">Interval Time
                   Plot</option>
              </select>
          <dt>Search Dictionary
          <dd><textarea id="search" rows=5 columns=40></textarea>
          <dt><div id="interval_div">Interval: <input type=text size=3
               id=interval name="interval" value="15"></div>
          <dt><div id="total_div">Total? <input type=checkbox id=plottotal></div>
              <!--<input type="hidden" id=plottotal value=nototal>-->
          <dt><div id="start_div">Start Time: <input type=text size=3
               id=start_time></div>
          <dt><div id="end_div">End Time: <input type=text size=3
               id=end_time></div>
          <dd><input type="button" id="submit" value=Generate>
      </dl>
  </form>
  <div id="help-dialog">
      <p>TwitterPlot is easy to use. Select your plot-type from the
           following:</p>
      <ul>
          <li><b>Bar Graph:</b> a simple numerical count of tweets mentioning
               the terms.</li>
          <li><b>Pie Chart:</b> a pie chart with percentages of tweets</li>
          <li><b>Time Plot:</b> tweet frequency over time (check 'total' to sum
               the tweets at any given time).</li>
          <li><b>Interval Time Plot:</b> select a start and end time for
               plotting a time plot.</li>
      </ul>
      <p>The <b>Interval</b> setting is used on Time Plot and Interval Time Plot
           to increase/decrease resolution of the line plot</p>
      <h4>Search Terms</h4>
      <p>You can use any number of search terms in the search dictionary,
           including hashtags. Capitalization does not matter.</p>
      <h4>Caveats</h4>
      <p>The demo version you're using has some limitations</p>
      <ul>
          <li>Time Plots can plot a maximmum of FIVE terms.</li>
          <li>The start/end time fields take '00:00' formatted times, which
              are hours:minutes from the beginning of the data set. The data set starts at approximately 23:50 UTC and ends around 2:55 UTC.</li>
          <li>The data set is from the first Republican debate. So use those
              search terms! You might not get much for 'python' but you will
              get a lot for 'trump'</li>
          <li>You will notice that the data drops around 3:00AM. This is
              unavoidable with the way the data is displayed (this is a design decision--data is not being lost).</li>
          <li>If you have any questions about the software, don't hesitate to
              email me at <a
               href="mailto:christopher.james.richards@gmail.com">
               christopher.james.richards@gmail.com</a></li>
      </ul>
  </div>
  <div id="help">Help!</div>
  </div>
        <div class="col-md-9">
          <p><img src="static/image.png" id="graph"></p>
          </div>
  </div>

  </div>
      <hr>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div> <!-- /container -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    </body>
</html>
