<!DOCTYPE html>
<html>
<head><title>TwitterPlot</title>
    <link rel="stylesheet" href="{{ url_for('static',
    filename='css/bootstrap.min.css') }}" type="text/css">
    <link href="{{ url_for('static', filename='js/jquery-ui.theme.min.css') }}"
    rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h1 class="text-center">Twitterplot</h1>
    <div class="container">
    <div class="row">
    <div class="col-md-2">
    <p>Twitterplot uses data from Twitter. The current data set is from the
        Republican debate, following several relevant hashtags. Enter search
        terms separated by spaces and have fun!</p>
    </div>
    <div class="col-md-2">
    <form class="form" id=plot-data>
        <dl>
            <dt>Chart Format
            <dd><select id="graphselect">
                <option value="bar_plot" name="bar_plot">Bar Graph</option>
                <option value="pie_plot" name="bar_plot">Pie Chart</option>
                <option value="time_lineplot" name="time_lineplot">Time Plot
                    </option>
                <option value="time_truncate" name="interval">Interval Time
                     Plot</option>
                </select>
            <dt>Search Dictionary
            <dd><textarea id="search" rows=5 columns=40></textarea>
            <dt><div id="interval_div">Interval: <input type=number size="3"
                 id=interval name="interval" value="15" maxlength="2"></div>
            <dt><div id="total_div">Total? <input type=checkbox
                id=plottotal></div>
            <dt><div id="start_div">Start Time: <input type=text size=3
                 id=start_time></div>
            <dt><div id="end_div">End Time: <input type=text size=3
                 id=end_time></div>
            <dd><input type="button" id="submit" value=Generate>
        </dl>
    </form>
    <div id="help-dialog">
        <p>TwitterPlot is easy to use. Select your plot-type from the
             following:</p>
        <ul>
            <li><b>Bar Graph:</b> a simple numerical count of tweets mentioning
                 the terms.</li>
            <li><b>Pie Chart:</b> a pie chart with percentages of tweets</li>
            <li><b>Time Plot:</b> tweet frequency over time (check 'total' to sum
                 the tweets at any given time).</li>
            <li><b>Interval Time Plot:</b> select a start and end time for
                 plotting a time plot.</li>
        </ul>
        <p>The <b>Interval</b> setting is used on Time Plot and Interval Time Plot
             to increase/decrease resolution of the line plot</p>
        <h4>Search Terms</h4>
        <p>You can use any number of search terms in the search dictionary,
             including hashtags. Capitalization does not matter.</p>
        <h4>Caveats</h4>
        <p>The demo version you're using has some limitations</p>
        <ul>
            <li>Time Plots can plot a maximum of FIVE terms (this is because of
                the color list I use in matplotlib).</li>
            <li>The start/end time fields take '00:00' formatted times, which
                are hours:minutes from the beginning of the data set. This data set is approximately three hours worth of data (but it doesn't matter if you overshoot the end)</li>
            <li>The data set is from the first Republican debate following a few
                related hashtags. So use those search terms! You might not get
                much for 'python' but you will get a lot for 'trump'</li>
            <li>You will notice that the data drops around 3:00AM. This is
                unavoidable with the way the data is displayed (this is a design
                decision--data is not being lost).</li>
            <li>If you have any questions about the software, don't hesitate to
                email me at <a
                 href="mailto:christopher.james.richards@gmail.com">
                 christopher.james.richards@gmail.com</a></li>
        </ul>
    </div>
    <div id="help">Help!</div>
    </div>
          <div class="col-md-8">
            <p><img src="static/image.png" id="graph"></p>
            </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/render.js') }}"></script>
</body>
</html>
